html, body, .container{
    height: 100%;
    background-image: url(../img/glen-noble-o4-YyGi5JBc-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .login-form {
    width: 350px;
    padding: 2rem 1rem 1rem;
    box-shadow: 1px 1px 1px grey;
  }
  
  form {
    padding: 1rem;
  }

  